*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    scrollbar-color: black;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
}

p {
    font-size: 2vw;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

section {
    padding: 1.8rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/purple-gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-container {
    margin-left: auto;
}

.menu {
    color: #dbdbdb;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 1rem;
    padding-top: 1rem;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-grow: 1;
}

.about {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.about-container {
    display: flex;
    flex-grow: 1;
}

.about-text {
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    padding: 3rem;
    text-align: center;
    gap: 1rem;
    font-weight: 400;
}

.btns-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-image {
    width: 54vw;
    border-top: solid rgb(108, 109, 157) 1px;
    border-right: solid rgb(108, 109, 157) 1px;
    border-bottom: solid rgb(108, 109, 157) 1px;
}

.about-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
}

.cv-btn,
.art-btn {
    background-color: black;
    color: #dbdbdb;
    border: solid #dbdbdb 1px;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 1rem;
}

.ornament-container {
    padding: 1.3rem;
    width: 100%;
    height: 6rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ornament-shape-1 {
    width: 3.2rem;
    height: 6vw;
    background-color: black;
    border: solid rgb(108, 109, 157) 1px;
}

.ornament {
    width: 79rem;
    height: 6vw;
    background-image: url('./images/purple-gradient-9.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    border-radius: 150px;
    border: solid rgb(108, 109, 157) 1px; 
}

.ornament-shape-2 {
    width: 3.2rem;
    height: 6vw;
    background-color: black;
    border: solid rgb(108, 109, 157) 1px;
}

.projects-section {
    background-color: black;
    color: #dbdbdb;
    text-align: center; 
}

.projects-container {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
}

.projects-title-container {
    background-color: black;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: solid rgb(108, 109, 157) 1px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 2rem 5rem ;
    gap: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
}

.card-title {
    background-color: #dbdbdb;
    color: black;
    font-size: 2rem;
    padding-bottom: .5rem;
}

.card-links {
    margin-top: 5rem;
}

.contact {
    color: #dbdbdb;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/purple-gradient-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.3rem;
}

.contact-title {
    margin-top: 1rem;
    font-size: 5rem;
}

img {
    max-width: 100%;
    display: block;
}