*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    scrollbar-color: black;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
}

a:visited {
    color: #dbdbdb;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.8vw;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

section {
    padding: 1.8rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/purple-gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu-container {
    margin-left: auto;
}

.menu {
    color: #dbdbdb;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 1rem;
    padding-top: 1rem;
}

.about-jumplink:hover,
.projects-jumplink:hover,
.contact-jumplink:hover {
    text-shadow: white 1px 0 10px;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    flex-grow: 1;
    overflow: hidden;
}

.name-image {
    animation-name: focus;
    animation-duration: 5s;
}

@keyframes focus {
    from {
        opacity: 0.1;
        filter: blur(8px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

.about-section {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.about-container {
    display: flex;
    flex-grow: 1;
}

.about-text {
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    padding: 3rem;
    text-align: center;
    gap: 1rem;
    font-weight: 400;
}

.btns-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-image-container {
    width: 54vw;
    border-top: solid rgb(108, 109, 157) 1px;
    border-right: solid rgb(108, 109, 157) 1px;
    border-bottom: solid rgb(108, 109, 157) 1px;
}

.about-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 3rem;
}

.cv-btn,
.art-btn {
    background-color: black;
    color: #dbdbdb;
    border: solid #dbdbdb 1px;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 3rem; 
    line-height: 4.8rem;
}

.cv-btn:hover,
.art-btn:hover {
    text-shadow: white 1px 0 10px;
    box-shadow: white 0 0 10px;
}

.cv-btn:active,
.art-btn:active {
    transform: translateY(4px);
}

.ornament-container {
    padding: 1.3rem;
    width: 100%;
    height: 6rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ornament-shape-1 {
    width: 3.2rem;
    height: 6vw;
    background-color: black;
    border: solid rgb(108, 109, 157) 1px;
}

.ornament {
    width: 79rem;
    height: 6vw;
    background-image: url('./images/purple-gradient-9.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    border-radius: 150px;
    border: solid rgb(108, 109, 157) 1px; 
}

.ornament-shape-2 {
    width: 3.2rem;
    height: 6vw;
    background-color: black;
    border: solid rgb(108, 109, 157) 1px;
}

.projects-section {
    background-color: black;
    color: #dbdbdb;
    text-align: center; 
}

.projects-container {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
}

.projects-title-container {
    background-color: black;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: solid rgb(108, 109, 157) 1px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 2rem 5rem ;
    gap: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border: solid black 1px;
    border-radius: 5px;
    padding: 1rem;
    width: min(90%, 70.5rem);
    height: min(90%, 70.5rem);
}

.card-title {
    background-color: #dbdbdb;
    color: black;
    font-size: 2rem;
    padding-bottom: .5rem;
}

.card-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
}

.card-link {
    background-color: #dbdbdb;
    color: black;
    border: 1px solid black;
    width: 8rem;
    height: 3rem;
    border-radius: 4rem;
    text-decoration: none;
    padding: .8rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.card-link:visited {
    color: black;
}

.card-link:hover {
    background-color: black;
    color: #dbdbdb;
}

.card-link:active {
    transform: translateY(4px);
}

.contact-section {
    color: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/purple-gradient-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.3rem;
    gap: 4rem;
}

.contact-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 1.3rem;
}

.contact-title {
    font-size: 400%;
}

.contact-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
}

.contact-link {
    font-size: 1.6rem;
    width: 20vw;
    line-height: 4rem;
    text-decoration: none;
    color: #dbdbdb;
    background-color: black;
    border-radius: 5rem;
    border: solid #dbdbdb 1px;
    text-align: center;
    font-weight: 300;
    display: block;
}

.contact-link:hover {
    background-color: #dbdbdb;
    color: black;
}

.contact-link:active {
    transform: translateY(4px);
}

img {
    max-width: 100%;
    display: block;
}

@media (max-width: 60em) {

    header,
    section {
        padding: 1rem 0;
    }

    header {
        background-image: url('./images/mobile-gradient-15-01.jpg');
        height: 100vh;
        max-width: 100%;
    }

    .menu-container {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .menu {
        padding: 0;
    }

    .name-container {
        padding: 1.3rem;
    }

    .about-section {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about-container {
        flex-direction: column;
    }

    p,
    .about-text {
        font-size: 1rem;
    }

    .btns-image-container {
        flex-direction: row;
    }

    .about-btns-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: space-around;
        gap: 0;
    }
    
    .cv-btn,
    .art-btn {
        height: 3rem;
        width: 3rem;
        font-size: .8rem;
        margin: 0;
        line-height: 2.8rem;
    }

    .about-image-container {
        border: 0;
        flex-grow: 2;
        align-items: center;
    }

    .about-image {
        border-bottom: solid rgb(108, 109, 157) 1px;
        border-left: solid rgb(108, 109, 157) 1px;
    }

    .ornament-container {
        height: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 1rem; 
    }

    .ornament-shape-1,
    .ornament-shape-2 {
        height: 2.5rem;;
    }

    .ornament {
        height:2.5rem;
        background-image: url('./images/mobile-gradient-1-01.jpg');
    }

    .cards-container {
        flex-direction: column;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-links-container {
        flex-direction: column;
    }

    .contact-section {
        background-image: url('./images/mobile-gradient-1-01.jpg');
        height: 100vh;
        max-width: 100%
    }

    .contact-links-container {
        flex-direction: column;
    }

    .card {
        width: 20rem;
    }

    .portfolio-card {
        height: 18rem;
    }

    .contact-title {
        font-size: 2rem;
    }

    .contact-link {
        width: 10rem;
        height: 3rem;
        line-height: 2.8rem;
        font-size: 1.2rem;
    }
}
